*.sh
node_modules
*.lock
**/*.svg
**/*.md
**/*.svg
**/*.ejs
**/*.html
**/*.png
**/*.toml
**/*.md
.vscode
.idea
dist
/public
/docs
.husky
.local
/bin
pnpm-lock.yaml
tsconfig.node.json

.eslintrc.cjs
.prettierrc.cjs
.stylelintrc.cjs
.commitlint.config.cjs

